@using BCSProject.Models
@using BCSProject.Helpers
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@Html.Hidden("WebApiLink", WebHelper.WebApiLink)
<script src="~/Content/Scripts/Site/site.js"></script>
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.User.Role.RoleName)
                <hr />

                @Html.Partial("_Alert")
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="offset-md-2 form-check mb-3">
                    <label class="form-check-label">
                        @*<input type="checkbox" class="form-check-input" value="">*@
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </label>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-6">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                        @Html.ActionLink("Register as a new user", "Register", null, htmlAttributes: new { @class = "btn btn-link" })
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Content/Scripts/Site/account/login.js"></script>*@
}